# Build results
[Bb]in/
[Oo]bj/

# Windows image file caches
Thumbs.db
ehthumbs.db

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.cab
